@import _variables
html
  height: 100%
body
  background: $white
  color: $textcolor
  font-family: $basefont
  font-size: 14px
  line-height: 20px
  height: 100%
  .container
    width: 960px
    margin: 0 auto
    +respond-to(tablet)
      width: 90%
  .brand_logo
    width: 120px
    height: 150px
    +svg-bg("brand_logo", no-repeat center center)
    background-size: contain
    display: block
    text-indent: -9999px
    float: left
  .application_logo
    width: 200px
    height: 75px
    +svg-bg("application_logo", no-repeat center center)
    background-size: contain
    display: block
    text-indent: -9999px
    float: right
  .anchor
    margin: -80px 0 0
    float: left
