$basecolor: #000
$altbasecolor: #222
$textcolor: #444
$alttextcolor: #666
$white: #fff
$black: #000
$gray: #909090
$errorcolor: #ff0000

$h1-font-size: 48px
$h2-font-size: 30px
$h3-font-size: 20px
$h4-font-size: 16px
$h5-font-size: 14px
$h6-font-size: 12px
$base-font-size: 16px

$basefont: sans-serif, arial, verdana
$altbasefont: 'font_name', sans-serif, arial, verdana
