<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%%= page_title %></title>
  <%%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%%= include_gon %>
  <%%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%%= csrf_meta_tags %>
  <%%= render partial: "analytics" if Rails.env.production? %>
</head>
<body class="<%%= body_class %>">
  <div id="fb-root"></div>
  <%%= render 'flashes' -%>
  <%%= yield %>
</body>
</html>
